
/* cữ */
/* @tailwind base;
@tailwind components;
@tailwind utilities;

.loading-indicator:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: ' ';
  position: fixed;
  top: 40%;
  left: 60%;
  z-index: 10010;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #0474bf;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
} */

/* mới  */
@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-indicator:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loading-indicator:after {
  content: ' ';
  position: fixed;
  z-index: 10010;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #E11D48;
  animation: hitZak 3s linear infinite alternate;
  width: 96px;
  height: 1px;
  top: 0;
  left: 0;

}



@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }

  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}


.thumbBox {
  padding: 15px 0 0;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.thumbBox h4,
.thumbBox p {
  padding: 8px 15px;
}
.thumbBox a {
  color: #fff;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  float: left;
  padding: 10px 15px;
}

#thumb:nth-child(1) .thumbBox {
  background: #63c2de !important;
  border-color: #2eadd3;
}
#thumb:nth-child(2) .thumbBox {
  background-color: #20a8d8 !important;
  border-color: #187da0;
}
#thumb:nth-child(3) .thumbBox {
  background-color: #ffc107 !important;
  border-color: #c69500;
}
#thumb:nth-child(4) .thumbBox {
  background-color: #f86c6b !important;
  border-color: #f5302e;
}